body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.owl-prev {
  color: white !important;
  font-size: 3rem !important;
  margin: 0 2rem !important;
}

.owl-next {
  color: white !important;
  font-size: 3rem !important;
  margin: 0 2rem !important;
}

.pagination {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.pagination li.active a {
  background-color: blue !important;
}

.pagination a {
  background-color: black;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.pagination a:hover {
  background-color: blue;
  text-decoration: none;
  color: white;
}
